<launch>

    <!--  ************** Navigation ***************  -->
    <node pkg="hunter_move_base" type="hunter_move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find hunter_navigation)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find hunter_navigation)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find hunter_navigation)/cfg/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find hunter_navigation)/cfg/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find hunter_navigation)/cfg/hunter_local_planner_params.yaml" command="load" />

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="4.0" />
        <param name="planner_patience" value="10.0" />

        <param name="base_local_planner" value="hunter_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="30.0" />
        <param name="controller_patience" value="15.0" />

        <param name="clearing_rotation_allowed" value="false" />
        <!-- Our carlike robot is not able to rotate in place -->
    </node>

</launch>
