<launch>

    <!-- motion planning & control -->
    <!-- <include file="$(find hunter_navigation)/launch/config_move_base.launch" /> -->

    <!-- mapping -->
    <!-- <include file="$(find hunter_navigation)/launch/config_gmapping.launch" /> -->
    <include file="$(find hunter_cartographer)/launch/hunter_2d_mapping.launch" />

    <!-- visualization -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hunter_navigation)/cfg/rviz_navigation.rviz"/> -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find hunter_cartographer)/configuration_files/demo_3d.rviz" /> -->
</launch>
