<launch>
    <!--  CAN bus: 500k -->
    <arg name="port_name" default="can0" />
    <arg name="pub_topic" default="/ultrasonic" />

    <node name="ultrasonic_ros_node" pkg="ultrasonic_ros" type="ultrasonic_ros_node" output="log">
        <param name="port_name" type="string" value="$(arg port_name)" />
        <param name="pub_topic" type="string" value="$(arg pub_topic)" />
    </node>
</launch>
